@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comic+Relief:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background: #daeaeb;
  --text: #000;
  --primary: #ff00be; /* blue-500 */
  --secondary: #f59e0b; /* slate-500 */
  --success: #10b981;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--text);
}
body.dark {
  filter: invert();
  background-color: #0b000e;
  color: var(--text-dark);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.btn {
  background-color: var(--secondary);
  color: var(--background);
  border-radius: 5px;
  border: 2px solid var(--secondary);
  padding: 0.2rem 1rem;
  transition: 1s linear;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-success {
  background-color: var(--secondary);
  color: var(--background);
}
.btn-warning {
  background-color: rgb(232, 160, 52);
  color: black;
}
.btn-md {
  padding: 0.9rem 1.5rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: var(--primary);
}

/* Section */
.section {
  padding: 2rem 0;
}

.outer-box {
  padding: 0 3rem;
}

@media (max-width: 700px) {
  .section {
    padding: 0rem 0;
  }

  .outer-box {
    padding: 0 0rem;
  }
}
