<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigh Up - Memory lane</title>
    <link rel="stylesheet" href="../assets/css/globles.css">
    <link rel="stylesheet" href="../assets/css/login-signup.css">
</head>

<body>
    <section class="section">
        <div class="outer-box">
            <div class="inner-box">
                <div class="content">
                    <!-- Sign-up Section -->
                    <div class="sign-up-section">
                        <h2>Sign-Up</h2>
                        <div class="register-form">
                            <form id="sign-up-form">
                                <div class="name-input">
                                    <input type="text" name="name" id="signup-name" placeholder="Full Name" required>
                                </div>
                                <div class="email-input">
                                    <input type="email" name="email" id="signup-email" placeholder="example@gmail.com"
                                        required>
                                </div>
                                <div class="pass-input">
                                    <input type="password" name="password" id="signup-password" placeholder="Password"
                                        required>
                                </div>
                                <div class="submit-btn">
                                    <input class="btn" type="submit" value="Sign Up">
                                </div>
                            </form>
                            <div style="display: flex; justify-content: end; align-items: end;" class="sign-up-btn">
                                <button class="btn " style="background-color: gray ; border: none;"><a style="width: 100%; height: 100%;" href="login.html">Log in</a></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>